In [11]:
import numpy as np
import statsmodels.api as sm
import pandas as pd

In [6]:
anes_data = sm.datasets.anes96.load()
anes_exog = anes_data.exog
anes_exog = sm.add_constant(anes_exog)

In [7]:
mlogit_mod = sm.MNLogit(anes_data.endog, anes_exog)
mlogit_res = mlogit_mod.fit()
print(mlogit_res.params)

Optimization terminated successfully.
         Current function value: 1.548647
         Iterations 7
[[-3.73401677e-01 -2.25091318e+00 -3.66558353e+00 -7.61384309e+00
  -7.06047825e+00 -1.21057509e+01]
 [-1.15359746e-02 -8.87506530e-02 -1.05966699e-01 -9.15567017e-02
  -9.32846040e-02 -1.40880692e-01]
 [ 2.97714352e-01  3.91668642e-01  5.73450508e-01  1.27877179e+00
   1.34696165e+00  2.07008014e+00]
 [-2.49449954e-02 -2.28978371e-02 -1.48512069e-02 -8.68134503e-03
  -1.79040689e-02 -9.43264870e-03]
 [ 8.24914421e-02  1.81042758e-01 -7.15241904e-03  1.99827955e-01
   2.16938850e-01  3.21925702e-01]
 [ 5.19655317e-03  4.78739761e-02  5.75751595e-02  8.44983753e-02
   8.09584122e-02  1.08894083e-01]]

In [12]:
pd.DataFrame(anes_exog)

       0         1    2     3    4     5
0    1.0 -2.302585  7.0  36.0  3.0   1.0
1    1.0  5.247550  3.0  20.0  4.0   1.0
2    1.0  3.437208  2.0  24.0  6.0   1.0
3    1.0  4.420045  3.0  28.0  6.0   1.0
4    1.0  6.461624  5.0  68.0  6.0   1.0
..   ...       ...  ...   ...  ...   ...
939  1.0 -2.302585  7.0  73.0  6.0  24.0
940  1.0 -2.302585  5.0  50.0  6.0  24.0
941  1.0 -2.302585  6.0  43.0  6.0  24.0
942  1.0 -2.302585  6.0  46.0  7.0  24.0
943  1.0  2.895912  4.0  61.0  7.0  24.0

[944 rows x 6 columns]

In [14]:
pd.DataFrame(anes_data.endog)

       0
0    6.0
1    1.0
2    1.0
3    1.0
4    0.0
..   ...
939  4.0
940  6.0
941  5.0
942  6.0
943  3.0

[944 rows x 1 columns]

In [15]:
anes_data = sm.datasets.anes96.load()
anes_exog = anes_data.exog
anes_exog = sm.add_constant(anes_exog)